<style>
	.logo {
		font-size: 200px;
	}
	@media screen and (max-width: 768px) {
		.col-sm-4 {
			text-align: center;
			margin: 25px 0;
		}
	}
</style>

<div class="container">
	<div class="col-12">
		<div class="container-fluid bg-grey">
			<div class="row">
				<div class="col-sm-4">
					<span class="navbar-logo"><%= image_tag('main-logo.png') %></span>
				</div>
				<div class="col-sm-8">
					<h2>APEREとは</h2>
					<h4><strong>THEMA :</strong>     遠距離カップルの旅を楽しむ旅行アプリ</h4>
					<p><strong>OVERVIEW :</strong><br />ユーザー投稿型の日本国内限定、旅行アプリ <strong>"APERE"</strong>（アペレ）です。<br />日本地図で２箇所指定していただくと中間地点を表示し、その場所にある観光地を紹介してくれます。<br />また、自分が行ったことのある観光地を投稿できます。</p>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-8">
					<h2>Background</h2>
					<h4>ⅰ.遠距離カップルの<strong>"障害"</strong>をなくしたい</h4>
					<p>上京がキッカケで遠距離恋愛になるカップルは多い。<br />
						実際に、私が大学生から社会人になったタイミングで、知り合いのカップル達が「遠距離になって別れた〜」という人が多かった。<br />
						もちろん、新しい出会いによる別れや価値観の相違などの理由もあるが、遠距離にならなければこのままずっと生涯を共にしていたかもしれない。<br />
					そんな物理的距離の遠さという２人の"障害"を、少しでも減らせればと思い、遠距離カップルをターゲットにしたアプリを考えました。</p>
				</div>
				<div class="col-sm-4">
					<span class="navbar-logo"><%= image_tag 'couple.jpg', :width => '300', :height => '200', :class => "img-circle" %></span>
				</div>
			</div>
		</div>

		<div class="container-fluid bg-grey">
			<div class="row">
				<div class="col-sm-4">
					<span class="navbar-logo"><%= image_tag('main-logo.png') %></span>
				</div>
				<div class="col-sm-8">
					<h4>ⅱ.会うための<strong>"費用"</strong>で悩んでいるカップルが多い</h4>
					<p>遠距離カップルにアンケートを取ったところ、以下の回答がありました。<br />
						Q. 遠距離恋愛で辛い・辛かったことは？（複数回答 可）<br />
						　A.１位：会う時の費用が掛かる(9/12人中)<br />２位：落ち込んだ時に側にいない(8/12中) 他...<br />「側にいない」のと同率で「交通費等の費用」で苦しんでる人がいることが分かりました。<br />
						「中間地点で会えればお互いの交通費はそれぞれ出せるのに」「中間地点にいい場所がない！」<br />・・・と、お金のことでモヤモヤする。<br />
						それなら、２人の中間地点で「ここ行きたい！」「楽しそう！」「ここなら交通費がお互い安く行ける！」という場所を提案できれば、<br />
					この遠距離恋愛ならではの辛さは軽減されるのでは・・・？と考え、旅行アプリというテーマにしました。</p>
				</div>
			</div>
		</div>
	</div>
</div>
