<div>
  緯度:<input type="text" id="idoInput" value="34.6873153" style="width: 250px"><br />
  経度:<input type="text" id="keidoInput" value="135.52620130000003" style="width: 250px"><br />
  <input type="button" value="住所取得" onclick="getAddress();">
  <br /><br />
  ★結果★<br />
  <textarea id="addressOutput" rows="3" cols="26"></textarea>
</div>
