<link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">

<div class="container">
	<div class="col-12">
		<h5 id="notice" class="text-center"><font color="#FF3366"><%= notice %></font></h5>
		<% unless user_signed_in? %>
			<h3 class="hello text-center"><font color="#f4a4a4">初めての方は「APEREとは」から</font></h3>
		<% else %>
			<h3 class="hello text-center"><font color="#f4a4a4">こんにちは！<%= @user.name %>さん</font></h3>
		<% end %>

		<div class="row rog">
			<div class="col-sm-4">
				<h2 class="hello">地方タグ検索</h2>
				<h4 class="leftcolor-blue">行きたい地方をクリックしてください♪</h4>
				<table>
				<tr>
					<th>タグ付け検索</th>
				</tr>
				<tr>
					<td>
						<% @regions.each do |tag| %>
			  			<%= link_to tag, posts_path(tag_name: tag), class: "text-white btn-sticky" %>
						<% end %>
					</td>
				</tr>
			</table>
			</div>

		<div class="col-sm-8">
		<h2 class="hello">中間地点検索MAP</h2>
		<h4 class="leftcolor-blue">２箇所タップしてください♪</h4>
		<p><font color="#f4a4a4">※リロードすることで再検索できます</font></p>
		<!-- form_withはデフォルトでremote: trueの挙動になります -->

			<div id="map"></div>

		<table>
			<tr>
				<td id="distance">ここに、直線距離（Km)が表示されます。</td>
			</tr>
			<tr>
				<td id="addressOutput">ここに、中間地点の住所が表示されます。</td>
			</tr>
		</table>
		<div id="middle_lat"></div>
		<div id="middle_lng"></div>

		<style>
			#map{
				height: 600px;
				width: 800px;
				}
		</style>

		<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GoogleMap_API'] %>&callback=initMap" async defer></script>
		</div>
		</div>
	</div>
</div>