// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (max-width:425px) {

.hello{
  font-family: 'Kosugi Maru', sans-serif;
}

.leftcolor-blue {
  padding-left: 10px ;
  border-left-width: 5px ;
  border-left-style: solid ;
  border-left-color: #6495ED;
}


div.rog{
  margin-top: 10px;
  margin-bottom: 50px;
}

.name{
	font-family: 'Permanent Marker', cursive;
}

.lock{
	font-family: 'Caveat', cursive;
}
table.skill{
  width: 70%;
  border-collapse: collapse;
  margin:auto;
}

table tr.skill{
  border-bottom: solid 2px white;
}

table tr:last-child.skill{
  border-bottom: none;
}

table th.skill{
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #52c2d0;
  color: white;
  text-align: center;
  padding: 10px 0;
}

table th:after.skill{
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 10px);
  right:-10px;
  border-left: 10px solid #52c2d0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

table td.skill{
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #eee;
  padding: 10px 0;
}

.logo-small {
  color: #f4a4a4;
  font-size: 50px;
}

}

.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #c7c7c7;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: gray;
}

a.btn--radius {
   border-radius: 50vh;
}

.btn--pink{
  color: #fff;
  background-color: #c7c7c7;
}
.btn--pink:hover{
  color: #fff;
  background: rgb(244, 164, 164);
}

.btn--radius {
   border-radius: 100vh;
}
