// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hello{
  font-family: 'Kosugi Maru', sans-serif;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table th,table td{
  text-align: center;
  width: 20%;
  padding: 15px 0;
}

table th,table td.comment{
  text-align: center;
  width: 40%;
  padding: 15px 0;
}

table th,table td.explan{
  text-align: center;
  width: 30%;
  padding: 15px 0;
}

table th,table td.mini{
  text-align: center;
  width: 10%;
  padding: 15px 0;
}

i.red {
    color: red;
}

div.rog{
  margin-top: 50px;
  margin-bottom: 200px;
}

.btn-sticky {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #f7f7f7;
  border-left: solid 6px #6495ED;/*左線*/
  color: #6495ED;/*文字色*/
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}
.btn-sticky:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
}

.p-top {
  min-width: 960px;
  &__title {
    text-align: center;
    font-size: 16px;
  }

  &__introduce {
    margin: 0 auto;
    th {
        padding: 0 15px;
    }
    td {
      padding: 0 15px;
    }
  }
  &__paginate {
    text-align: center;
    margin:0 auto;
  }
}