// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table tr{
  border-bottom: solid 1px #eee;
}

table th.post{
  border-bottom: solid 5px #eee;
}

table tr:hover{
  background-color: #d4f0fd;
}

table th,table td{
  text-align: center;
  width: 20%;
  padding: 15px 0;
}

i.red {
    color: red;
}

.leftcolor-blue {
  padding-left: 10px ;
  border-left-width: 5px ;
  border-left-style: solid ;
  border-left-color: #6495ED;
}

h1.mypage {
  font-family: 'Lobster', cursive;
}